body{
	color: #433;
	font-size: 25px;
	padding: 40px;
	background:#1e1b1b;
}
.bee-mesh {
	// background: url(../images/bg.png);
}
.polygon {
	position: absolute;
	width: 134px;
	display: inline-block;
	height: 150px;
	& > span {
		display: inline-block;
		width: 100%;
		height: 74px;
		position: absolute;
		& span {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 2px;
			height: 100%;
			background: #443a24;
			background-image: linear-gradient(#443a24, #333, rgba(78, 67, 43, 0.15), #443a24);
			animation-name: line; 
			animation-duration: 3s; 
			animation-direction: alternate-reverse;
			animation-iteration-count: infinite;
		}
		& span:nth-child(2) {
			left: auto;
			top: 0;
			bottom: auto;
			right: 0;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			left: -7px;
			bottom: -9px;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			background: #443a24;
			animation-name: circle;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			transition: 1s;
		}
		&:after {
			left: auto;
			right: -7px;
			top: -9px;
			bottom: auto;
			animation-name: circle2;
		}
		&:nth-child(1){
			transform: rotate(60deg);
			height: 74px;
			
		}
		&:nth-child(2){
			transform: rotate(-60deg);
			height: 74px;
			
		}
	}

	@for $i from 1 through 17 {
		&.c#{$i} { left:  66px* $i; }
		&.c#{$i} > span:before,  &.c#{$i} > span span {
			animation-delay: 130ms * $i;
		}
		&.c#{$i} > span:after {
			animation-delay: 130ms * $i + 500ms;			
		}
		&.c#{$i} > span span {
			animation-delay: 500ms * $i;
		}
		&.c#{$i} > span:nth-child(1) span {
			animation-delay: 1000ms * $i;
		}
		&.c#{$i} > span:nth-child(2) span {
			animation-delay: 1500ms * $i;
		}
	}

	@for $i from 1 through 21 {
		&.r#{$i}  { top:  38px* $i; }
	}
	
}

@keyframes circle {
	0% {
		width: 8px;
		height: 8px;
		left: -3px;
		bottom: -4px;
		opacity: 0.2;

	}
	100% {
		width: 17px;
		height: 17px;
		left: -7px;
		bottom: -9px;
		opacity: 1;
	}
}
@keyframes circle2 {
	0% {
		width: 8px;
		height: 8px;
		right: -3px;
		top: -4px;
		opacity: 0.2;		
	}
	100% {
		width: 17px;
		height: 17px;
		right: -7px;
		top: -9px;
		opacity: 1;
	}
}

@keyframes line {
	0% {
		height: 0;
		opacity: 0.2;		
	}
	100% {
		height: 100%;
		opacity: 1;		
	}
}




.globe-container
{	
	position: relative;
    margin:120px auto;
    width:92px;
    height:92px;
    border:1px solid transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden; 
    -moz-box-shadow: 0px 5px 15px #888;
	-webkit-box-shadow: 0px 5px 15px #888;
 	box-shadow: 0px 5px 15px #888;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/globe_shadow.jpg)
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		background:url(../images/logo2D.png) 0px -30px;
		background-size: 260px;
		-webkit-animation: rotate 2s infinite linear;
		-moz-animation: rotate 2s infinite linear;
		animation: rotate 2s infinite linear;
		animation-direction: normal;
		
	}
}
.globe
{    
    position:absolute;
    width:92px;
    height:92px;
    background:url(http://fengel.com/testing/shadow_highlight.png) top left no-repeat
}

@keyframes rotate{
  0% {
   background-position:0px -30px;
  }
  100% {
     background-position:-23px -30px;
  }

}
